<div class="row">
  <div class="col-md-5">
    <h2>News feed:</h2>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let article of articles"
          (click)="selectArticle(article)"
          [class.active]="article === selectedArticle">
        {{article.title}}
      </li>
    </ul>
  </div>
  <!--<div class="col-md-5 col-md-offset-2">
    &lt;!&ndash;<app-new-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </app-new-details>&ndash;&gt;
  </div>-->
</div>

