<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Last five news added to the news feed:</h2>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let article of articles"
          (click)="selectArticle(article)"
          [class.active]="article === selectedArticle">
        {{article.title}}
        <a routerLink="/article/details"><span class="pull-right btn btn-info">Details</span></a>
        <div *ngIf = "article === selectedArticle">{{article.content}}</div>
      </li>
    </ul>
  </div>
</div>

