<h3>
  {{article.title}}
</h3>
<hr>
<p>{{article.content}}</p>

<hr>
<div class="col-md-4 col-md-offset-4">
<form #commentForm="ngForm" (submit)="addComment()">

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      class="form-control"
      minlength="10"
      id="comment"
      name="comment"
      [(ngModel)]="newComment"
      #comment="ngModel"
      required
    ></textarea>
    <span [hidden]="comment.valid || comment.pristine">
      Comment must be more than 10 symbols!
    </span>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!commentForm.form.valid">Comment</button>
</form>
</div>
